.containerInput {
  margin-top: 1rem;
}

.inputText {
  width: 100%;
  border: none;
  border-radius: 1rem;
  height: 2rem;
  font-size: 1rem;
  padding: 0rem 0.5rem;
  margin-top: 0.5rem;
  color: var(--primary);
}

.inputText:focus-visible {
  outline: none;
}

.label {
  color: var(--white);
  margin-left: 0.5rem;
}

.inputError {
  font-size: 0.8rem;
  color: var(--background);
  font-style: italic;
  margin-left: 0.5rem;
}

.containerSelect {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectInput {
  border: none;
  border-radius: 1rem;
  height: 2rem;
  padding: 0rem 0.5rem;
  color: var(--primary);
  font-weight: 600;
  text-align: center;
}

.selectInput:focus-visible {
  outline: none;
}