.container {
  background-color: var(--gray-transparent);
  position: absolute;
  width: 60%;
  left: 25%;
  height: 50%;
  top: 25%;
  border-radius: 1rem;
  padding: 1rem;
}

@media (max-width: 576px) {
  .container {
    width: 80%;
    left: 10%;
  }
}