:root {
  --background: #fdf7fb;
  --white: #fff;
  --primary: #ac6ea5;
  --primary-light: #bda2bb;
  --accent: #fdbbb8;
  --gray: #6c757d
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
  display: grid;
  background-repeat: no-repeat;
  grid-template-rows: auto 1fr auto;
  background-image: url('./assets/background.jpg');
  background-size: cover;
}

.container {
  width: 100vw;
  padding: 0rem 1rem;
  margin: 0rem auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}